<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <br />
    <h1><%= title %></h1>
    <br />
    <section class="message-list">
      <% if (messages && messages.length > 0) { %>
      <ul>
        <% messages.forEach((message) => { %>
        <li class="message-item">
          <h3><%= message.title %></h3>
          <p><strong>Message:</strong> <%= message.message %></p>
          <p><strong>Author:</strong> <%= message.author %></p>
          <p>
            <strong>Date:</strong> <%= new
            Date(message.timestamp).toLocaleString() %>
          </p>
          <hr />
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>No messages available.</p>
      <% } %>
    </section>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
