<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <br />
    <h1><%= title %></h1>
    <br />
    <p>
      I speak without a mouth and hear without ears. I have no body, but I come
      alive with wind. What am I?
    </p>
    <form action="/join" method="POST">
      <label for="passcode">Enter the Passcode:</label>
      <input type="text" name="passcode" id="passcode" required />
      <button type="submit">Submit</button>
    </form>
    <% if (errors) { %>
    <ul>
      <% errors.forEach(function (error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %> <%- include('partials/footer.ejs') %>
  </body>
</html>
