<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <br />
    <h1><%= title %></h1>
    <br />
    <%- include("partials/errors.ejs") %>
    <form action="/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <%- include('./partials/footer') %>
  </body>
</html>
